fieldset{
    border: none; 
}
main h1{
    text-align: center;
}

form{
    display: block;
}

.section-base{
    display: flex;
    justify-content: space-around;;
    margin-bottom: 47px;
}

.section-base div{
    display: flex;
    flex-direction: column;
}

form .section-base input{
    width: 300px;
    height: 25px;
    margin-bottom: 36px;
    border: none;
}

form input, textarea{
    text-align: center;
    color: black;
    background: #FFFF;
    border-radius: 10px;
}


/* FORM BOTTOM*/

h3{
    color: #60D5F5;
}

.avisos{
    margin-top: -15px;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    align-content: center;
    background-color: #a8863179;
}
.avisos:hover{
    transition: .5s;
    background-color: #A88731;
}
.section-bottom{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.section-bottom div{
    display: flex;
    flex-direction: column;
}

.div-avisos{
    margin-top: -23px;
}
.section-bottom .botoes{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.botao{
    width: 67px;
    height: 37px;
    background-color: #479DB5;
    color: #FFFF;
    background: #479DB5;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

}

.botao:hover{
    transition: .5s;
    background-color: #60D5F5;
    cursor: pointer;
}


/* ALTERAÇÕES PARA PG 2*/
.div-main-pg2{
    display: flex;
}
.form-pg2{
    width: 450px;
}

.div-section-base{
    height: 350px;
}
.div-section-base textarea{
margin-bottom: 15px;
}

.div-section-base input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    margin: 10px;
}
.div-section-base input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #479DB5;
  cursor: pointer;
}

.div-section-base div input[type="radio"]{
    width: 20px;
    margin-bottom: 1px;
}

.div-section-base div{
    align-items: center;
    flex-direction: row;
}

#input-text-mudaProf{
    flex-direction: column;
    margin: auto;
}

#input-text-mudaProf input{
    width: 220px;
}

form legend{
    margin-bottom: 10px;
    text-align: center;
}

.carrosel{
    margin-top: 25px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    width: 440px;
    height: 400px;
    border-radius: 10px;
}
.container-carrosel{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: 450px;
    height: 450px;
}

img{
    object-fit: cover;
    width: 450px;
    height: 450px;
}
